/* @import ~antd/dist/antd.css";
 */
/* :root {
  --contrast: 100;
  --hue: 0;
  --brightness: "100";
  --saturation: "100";
  --sepia: "0";
}
#heroImage {
  filter: contrast(var(--contrast) %) hue(var(--hue) deg);
}
 */
.App {
  position: relative;
}
button {
  z-index: 100;
}
#panel {
  /* animation: enter-animation 0.5s; */
  bottom: 30px;
  width: 100%;
  height: 0;
  background-color: white;
  position: absolute;
  z-index: 99;
  transition: all 0.8s;
}

.sliders {
  width: 90%;
  margin: 0 auto;
}

/* ============================= */
/*          FILTER ITEM          */
/* ============================= */
.filter-row {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
}
.filter-item {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
}

.filter-item img {
  height: 68px;
  width: 68px;
}
.filter-item span {
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
}

.active--text {
  color: rgb(156, 156, 49);
}

.active--image {
  /* border: 2px solid rgb(156, 156, 49); */
  box-shadow: 0 0 2px 2px rgb(156, 156, 49);
}

/* OVERRIDE */
..MuiBottomNavigation-root {
  position: absolute;
}

.MuiBottomNavigationAction-root {
  color: rgba(0, 0, 0, 0.7) !important;
}
